{% extends "base.njk" %}

{% block content %}
<div class="history-container">
  <h2>双色球历史开奖结果</h2>
  <table>
    <tr>
      <th>期号</th>
      <th>红球</th>
      <th>蓝球</th>
    </tr>
    {% for item in ssqhistory %}
    <tr>
      <td>{{ item.id }}</td>
      <td>
        {% for ball in item.redBalls %}
          <span class="red-ball">{{ ball }}</span>
        {% endfor %}
      </td>
      <td class="blue-ball">{{ item.blueBall }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}